

@media(max-width:350px){
    .navbar-brand{
        font-size: 20px !important;
    }
    .navbar-toggler-icon{
        width: 1.2em;
        height: 1.2em;
    }
}

@media(max-width:280px){
    .navbar-brand{
        font-size: 15px !important;
    }
    .navbar-toggler-icon{
        width: 1em;
        height: 1em;
    }
}

@media(max-width:235px){
    .navbar-brand{
        font-size: 12px !important;
    }
    .navbar-toggler-icon{
        width: 0.8em;
        height: 0.8em;
    }
}